/* #region reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region general */
img {
    max-width: 100%;
    height: auto;
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Sigmar", sans-serif;
    line-height: 1;
}
h1, h2 {
    font-size: 40px;
    margin-bottom: 16px;
}
p   {
    font-size: 18px;
    margin-bottom: 16px;
}

/* #region layout */
body {
    width: 512px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
}
main {
    padding: 32px 16px;
    background-color: rgb(26, 29, 118);
}
.hero {
    text-align: center;
    padding: 32px;
}
.card {
    padding: 32px 16px;
}
.card-content {
    position: relative;
    padding: 96px 32px;
    border-radius: 48px;
    background-color: rgb(94, 100, 202);
}
.card-img-thumb {
    max-width: 128px;
    position: absolute;
    top: 0;
    left: 64px;
    transform: translate(0, -50%);
}
.card-img {
    border-radius: 32px;
}