* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    width: 512px;
}

header {

}

main {
    background-color: rgb(26, 29, 118);
}